*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 100px;
    
    background-color: pink;
    
    margin-top: 10px;
}
section{
    
    height: 200px;
    background-color: red;
   
    margin-top: 10px;
    margin-bottom: 10px;

}
.clearfix{
    content: "";
    display: table;
    clear: both;
    
}



.fl{
    float: left;
    
}
.fr{
    float: right;
    
    
}
aside, main, aside{
    height: 350px;
    margin-top: 25px;
    
    
}
aside{
    width: 300px;
    background-color: blue;
    
    
}
main{
    width: 550px;
    background-color: blue;
    margin-left: 25px;
    margin-right: 25px;
    
}
footer{
    
    height: 60px;
    
    background-color: yellow;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bordo{
    height: 400px;
    background-color: chartreuse;
}